<div class="free-response-question">
  <div class="question-text form-group">
    <%= question.question %>
  </div>
  <div class="question-answer form-group">
    <textarea class="form-control" name="question_<%= index %>" placeholder="for-test" rows="4"></textarea>
  </div>
</div>