<% content_for :title do %>
  Quiz
<% end %>

<div class="alert alert-warning">
    <p>Do <strong>not</strong> leave this page!  If you do, your quiz will be submitted as is, and you will not be able to access it again.</p>
</div>

<%= render 'form' %>