<% content_for :title do %>List of Problems<% end %>

<% content_for :options_top do %>
  <%= link_to 'New Problem', new_admin_problem_path, :class => 'btn btn-primary' %>
<% end %>

<table class="problems-list-table table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Due Date</th>
      <th>Courses</th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr class="clickable-row" data-href="<%= admin_problem_path(problem) %>">
        <td class="clickable-row-main-cell"><%= problem.title %></td>
        <td><strong><span class="text-danger">Not implemented</span></strong></td>
          <td><%= problem.courses.map { |course| course.name }.join(", ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>