//.page-title {  display: none; } how to apply only on login page?

.login-form {
    width: 100%;
    text-align: center;
    margin-top: 64px;
    
    input.form-control {
        width: 256px;
        margin: 0 auto 24px auto;
        font-size: 24px;
        height: 42px;
    }
    
    #login-btn {
        padding-left: 18px;
        padding-right: 18px;
        font-size: 24px;
    }
}
