.login-form {
    width: 600px;
    margin: 100px auto 0 auto;
    text-align: center;
    font-size: 24px;
    
    label {
        
    }
    
    input {
        width: 250px; 
        margin: 0 0 20px 0;
        font-size: 24px;
    }
    
    #login-btn {
        width: 100px;
    }
}
