/** 
 *  Autograder Theme
 *  Copyright 2016 Team SegFaultless - All rights reserved
 */
 
/*  Palette (@palette)
 *  ==========================================================================*/
$primary: #685CC4;
$primaryDark: #49418C;
$primaryVeryDark: #18152e;
$primaryLight: #C4C2ED;
$primaryVeryLight: #E1E0FF;
$secondary: #44c6b7;

$white: #FFF;
$lightGrey: #EEE;
$grey: #DDD;

//$info: #5BC0DE;
$info: $secondary;
$success: #5CB85C;
$warning: #F0AD4E;
$danger: #D9534F;

$successVeryLight: #DFF0D8;
$warningVeryLight: #FCF8E3;
$dangerVeryLight: #F2DEDE;

$successLight: #CBE2C1;
$warningLight: #F9F4D6;
$infoLight:  #BAE2F4;
$dangerLight: #EFCECE;

$failVeryLight: $dangerVeryLight;
$failLight: $dangerLight;

$font: 'Open Sans';
$fontFallback: sans-serif;
$fancyFont: 'Shadows Into Light Two';
$fancyFontFallback: cursive;

$footerHeight: 148px;

/*  Global (@global)
 *  ==========================================================================*/
html, body {
    height: 100%;
    width: 100%;
}

body {
    background: $white;
    font-family: $font, $fontFallback;
}

.container-wrap {
    min-height: 100%;
    position: relative;
}

a {
    color: $primary;
    text-decoration: none;
    background: none;
}
a:hover, a:active, a:focus {
    color: $primaryDark;
    text-decoration: none;
    background: none;
}

.flash-notices {  margin-top: 24px; }

/*  Bootstrap Overrides (@bootstrap)
 *  ==========================================================================*/
.btn {
    border-radius: 0;
    font-size: 16px;
    border-width: 2px;
}
.btn.btn-max {
    display: inline-block;
    width: 100%;
    margin-bottom: 6px;
}
.btn.btn-large {
    font-size: 1.5em;
}
.btn.btn-primary,
.btn.btn-info,
.btn.btn-danger,
.btn.btn-success,
.btn.btn-warning {
    background: $white;
}
.btn.btn-primary {
    color: $primary;
    border-color: $primary;
}
.btn.btn-info { 
    color: $info;
    border-color: $info;
}
.btn.btn-success {  
    color: $success; 
    border-color: $success;
}
.btn.btn-warning {  
    color: $warning; 
    border-color: $warning;
}
.btn.btn-danger {  
    color: $danger; 
    border-color: $danger;
}
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
    background: $primary;
    border-color: $primary;
    color: $white;
}
.btn.btn-info:hover,
.btn.btn-info:active,
.btn.btn-info:focus {
    background: $info;
    border-color: $info;
    color: $white;
}
.btn.btn-success:hover,
.btn.btn-success:active,
.btn.btn-success:focus {
    background: $success;
    border-color: $success;
    color: $white;
}
.btn.btn-warning:hover,
.btn.btn-warning:active,
.btn.btn-warning:focus {
    background: $warning;
    border-color: $warning;
    color: $white;
}
.btn.btn-danger:hover,
.btn.btn-danger:active,
.btn.btn-danger:focus {
    background: $danger;
    border-color: $danger;
    color: $white;
}

.form-control {  border-radius: 0; }
.form-control:focus {
    border-width: 2px;
    padding: 5px 11px;
    box-shadow: none;
    border-color: $secondary;
}

.alert.alert-notice {
    border-color: $primaryLight;
    background-color: $primaryVeryLight;
    color: $primary;
}

pre {
    background: $white;
    border: 1px solid $secondary;
    font-size: 14px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.18) inset;
    position: relative;
    overflow-y: hidden;
}

pre::after {
    color: $secondary;
    content: '{}';
    font-size: 72px;
    font-style: italic;
    line-height: 1;
    opacity: 0.25;
    position: absolute;
    top: 14px; right: 24px;
}

.clickable-panel-heading {
    cursor: pointer;
}
.panel-danger > .panel-heading.clickable-panel-heading:hover {
    background-color: $dangerLight;
}
.panel-success > .panel-heading.clickable-panel-heading:hover {
    background-color: $successLight;
}

.panel-submission-time {
  display: inline-block;
  width: 260px;
}

/*  Header (@header)
 *  ==========================================================================*/
header {
    background: $primaryVeryDark;
    color: $white;
    border-bottom: 3px solid $secondary;
    padding: 6px;
    
    .site-title h1 {
        font-family: $fancyFont, $fancyFontFallback;
        font-weight: normal;
        font-size: 24px;
        margin: 0.72em 0;
        position: relative;
        z-index: 2;
    }
    
    .site-title h1 a {  color: $white; }
    .site-title h1 a:hover {
        color: $primaryLight;
    }
    
    .logout-button {
        float: right;
        color: $white;
        padding: 5px;
        border: 2px solid $white;
        margin: 10px 0 0 0;
        z-index: 2;
        position: relative;
    }

    .logout-button:hover {
        border-color: $primaryLight;
        color: $primaryLight;
    }
}

/*  Top Bar (@top)
 *  ==========================================================================*/
nav.top-bar-wrap {
    background: none;
    border: none;
    color: $white;
    position: absolute;
    top: 8px; right: 0;
    font-size: 16px;
    z-index: 1;
    width: 100%;
    
    .top-bar {
        .navbar-nav {  float: right; }
        .navbar-collapse {  padding-right: 104px; }
        a {  color: $white; }
        a:hover,
        a:focus {  color : $primaryLight; }
    }
}

/*  Footer (@footer)
 *  ==========================================================================*/
footer {
    background: $lightGrey;
    font-size: 16px;
    padding-top: 42px;
    padding-bottom: 42px;
    box-shadow: 0 5px 3px -5px rgba(0, 0, 0, 0.12) inset;
    position: absolute;
    bottom: 0;
    width: 100%;
    
    .license-area {
        text-align: center;
        color: #777;
    }
}

/*  Main (@main)
 *  ==========================================================================*/
main {
    font-size: 16px;
    line-height: 1.72em;
    padding-bottom: $footerHeight;
    
    .page-title {
        font-size: 36px;
        line-height: 1em;
        margin-bottom: 42px;
    }
    
    h1, h2, h3,
    h4, h5, h6 {
        margin-top: 42px;
        margin-bottom: 18px;
    }
    
    h1 {
        font-size: 28px
    }
    
    .page-options-top {
        text-align: center;
        margin-bottom: 24px;
        
        form {
            margin-top: 12px;
        }
    }
    
    .page-options-bottom {
        margin-top: 42px;
        text-align: center;
        
        .btn {
            min-width: 148px;
        }
    }
}

table {
    table {
        margin-left: 20px;
    }
}

/*  Utility (@util)
 *  ==========================================================================*/
.italic {  font-style: italic; }

.alert-debug {
    color: black;
    border: 3px solid black;
    background: yellow;
}

.hide {
    display: none !important;
}

tr.clickable-row {
    cursor: pointer;
}
tr.clickable-row:hover {
    background: $lightGrey;
    
    td.clickable-row-main-cell {
        color: $primaryDark;
    }
}
tr.clickable-row.success:hover,
tr.clickable-row.danger:hover,
tr.clickable-row.info:hover,
tr.clickable-row.warning:hover {
    td {  background: none; }
}

tr.success { background-color: $successVeryLight; }
tr.danger { background-color: $dangerVeryLight; }
tr.warning {  background-color: $warningVeryLight; }
tr.fail { background-color: $failVeryLight; }

tr.clickable-row.success:hover {  background: $successLight; }
tr.clickable-row.warning:hover {  background: $warningLight; }
tr.clickable-row.danger:hover {  background: $dangerLight; }
tr.clickable-row.info:hover {  background: $infoLight; }
tr.clickable-row.fail:hover  {  background: $failLight;  }

.text-btn {
    border: none;
    background: none;
    color: #CCC;
}
.text-btn.text-btn-default:hover {  color: #676767;  }
.text-btn.text-btn-primary:hover {  color: $primary; }
.text-btn.text-btn-info:hover    {  color: $info;    }
.text-btn.text-btn-success:hover {  color: $success; }
.text-btn.text-btn-warning:hover {  color: $warning; }
.text-btn.text-btn-danger:hover  {  color: $danger;  }
