// Site-wide styles

//palette
$deepPurple: #18152e;
$lightTeal: #44c6b7;
$lightGrey: #e6e6e6;
$white: #FFF;

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: $white;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: $deepPurple;
    color: white;
    border-bottom: 2px solid $lightTeal;
    padding: 6px;
    
    .site-title h1 {
        font-weight: 400;
        font-size: 24px;
        margin: 0.72em 0;
    }
    
    .site-title h1 a {
        color: #FFF;
    }
}

footer {
    margin-top: 42px;
    
    .license-area {
        text-align: center;
    }
}

main {
    .page-title {
        font-size: 36px;
        line-height: 1em;
    }
}