// Place all the styles related to the QuizSubmissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.student-grade {
    font-size: 36px;
    text-align: center;
}

main .quiz-questions-list .alert h1 {
    margin: 0;
}
main .quiz-questions-list .alert {
    margin-top: 36px;
}