<ul class="nav navbar-nav">
    <li><%= link_to 'Courses', admin_courses_path %></li>
    <li><%= link_to 'Problems', admin_problems_path %></li>
    <li><%= link_to 'Students', admin_students_path %></li>
    <li><%= link_to 'Quizzes', admin_quizzes_path %></li>
</ul>