<div class="container header">
  <div class="site-title pull-left">
    <h1><a href="/"><span>Bryan High School Autograder</span></a></h1>
  </div>
  <% if !current_page?('/login') && !current_page?('/') %>
      <%= link_to 'Logout', logout_path,  method: :delete, class: 'logout-button' %>
  <% end %>
</div>